# -----------------------------
# Node.js
# -----------------------------
backend/node_modules/
npm-debug.log*

# -----------------------------
# Environment variables (important)
# -----------------------------
backend/.env

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
