# -----------------------------
# Node.js
# -----------------------------
node_modules/
npm-debug.log*

# -----------------------------
# Environment variables (important)
# -----------------------------
.env

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
